default.profraw
__pycache__
.DS_Store
.ipynb_checkpoints
.history
.vscode
mapreader.egg-info
conda_debug/
docs/build/
docs/source/api/mapreader/
dist/
.coverage
.coverage.*
build/

# workshop files
worked_examples/**/workshops_*/**/*.png
worked_examples/**/workshops_*/**/*.csv
worked_examples/**/workshops_*/**/*.geojson
worked_examples/**/workshops_*/**/*.xlsx

# test outputs
tmp_checkpoints
