default.profraw
__pycache__
.DS_Store
.ipynb_checkpoints
.history
.vscode
mapreader.egg-info
examples/classification_one_inch_maps_001/**/*.PNG
examples/classification_one_inch_maps_001/**/*.kml
examples/classification_one_inch_maps_001/**/*.geojson
