---
name: Units Tests

on:
  # Manual trigger only
  workflow_dispatch:

# Cancel existing tests on the same PR if a new commit is added to a pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:

  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.9, 3.12]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: |
          python -m ensurepip
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          python -m pip install ".[dev]"
          python -m pip install pytest-cov

      - name: Quality Assurance
        run: |
          python -m flake8 ./mapreader/ --count --select=E9,F63,F7,F82, --ignore=F821 --show-source --statistics
          python -m black --diff ./mapreader/
          python -m flake8 ./tests/ --count --select=E9,F63,F7,F82, --ignore=F821 --show-source --statistics
          python -m black --diff ./tests/

      - name: Test with pytest
        run: |
          python -m pytest ./tests --ignore=tests/test_text_spotting/
