---
name: Units Tests - Text Spotting

on: [push]

# Run linter with github actions for quick feedbacks.
jobs:
  all_tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    env:
      # point datasets to ~/.torch so it's cached by CI
      DETECTRON2_DATASETS: ~/.torch/datasets

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11

      - name: Update pip
        run: |
          python -m ensurepip
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          python -m pip install wheel ninja
          python -m pip install torch==2.2.2 torchvision==0.17.2 -f https://download.pytorch.org/whl/torch_stable.html
          python -m pip install ".[dev]"
          python -m pip install pytest-cov

      - name: Build and install detectron2
        run: |
          python -m pip install 'git+https://github.com/facebookresearch/detectron2.git'
          python -m detectron2.utils.collect_env

      - name: Install DPText-DETR
        run: |
          git clone https://github.com/maps-as-data/DPText-DETR.git
          python -m pip install 'git+https://github.com/maps-as-data/DPText-DETR.git'

      - name: Install DeepSolo
        run: |
          git clone https://github.com/maps-as-data/DeepSolo.git
          python -m pip install 'git+https://github.com/maps-as-data/DeepSolo.git'

      - name: Install MapTextPipeline
        run: |
          git clone https://github.com/maps-as-data/MapTextPipeline.git
          python -m pip install 'git+https://github.com/maps-as-data/MapTextPipeline.git'

      - name: Hugging Face CLI
        run: |
          pip install -U "huggingface_hub[cli]"
          huggingface-cli download rwood-97/DPText_DETR_ArT_R_50_poly art_final.pth --local-dir .
          huggingface-cli download rwood-97/DeepSolo_ic15_res50 ic15_res50_finetune_synth-tt-mlt-13-15-textocr.pth --local-dir .
          huggingface-cli download rwood-97/MapTextPipeline_rumsey rumsey-finetune.pth --local-dir .

      - name: Test with pytest
        run: |
          python -m pytest --cov=./ --cov-report=xml ./tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          files: ./coverage.xml,!./cache
          flags: unittests
          name: codecov-umbrella
